<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta name="viewport" content="width=620px,initial-scale=1,target-densitydpi=device-dpi,minimum-scale=1,maximum-scale=1,user-scalable=1" />  
    <script src="../scripts/require-config.js"></script>
    <script src="../lib/js_lib/require.js" data-main="/app/scripts/main.js"></script>
</head>

<body>
    <div id="container" class="FULL-SIZE">
        <div id="container-header" class="header-1">
            <ul>
                <li><a href="#/game">game</a></li>
                <li><a href="#/test">test</a></li>
                <li><a href="#/">back</a></li>
                <li><a href="#/api/value">api - value</a></li>
            </ul>
        </div>

        <div id="main" class="main-1">
     
        </div>

        <div id="container-footer" class="footer-1">

        </div>
    </div>  
</body>
</html>

<style>
    .header-1
    {
        background-color:rgb(232, 232, 253);
    }
     .footer-1
    {
         min-height:10px;
        background-color:rgb(232, 232, 253);
    }
</style>